@font-face {
	font-family: Spartan;
	font-display: swap;
	src: url("../fonts/Spartan-Thin.woff2") format("woff2"), url("../fonts/Spartan-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
